<div class="alert alert-block alert-warning">The end result of this exercise should be a file named acquire.py.</div>

In [1]:
import requests
import pandas as pd

1. Using the code from the lesson as a guide, create a dataframe named items that has all of the data for items.

In [3]:
# Load the data in JSON

response = requests.get('https://python.zach.lol/api/v1/items')
items= response.json()
items.keys()

dict_keys(['payload', 'status'])

In [5]:
# Print the keys of 'payload'
items['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [7]:
# Print the value of 'status' since 'status' doesn't have nested keys
items['status']

'ok'

In [9]:
# How many items in the data
len(items['payload']['items'])

20

In [10]:
# How many pages in the data?
items['payload']['max_page']

3

In [12]:
# What is the value of 'next_page'
items['payload']['next_page']

'/api/v1/items?page=2'

In [13]:
# What is the value of 'page'?
items['payload']['page']

1

In [41]:
# Create a for loop to combine all the pages

# Create a base_url
base_url = 'https://python.zach.lol'

# Load the first page of the data
response = requests.get(base_url + '/api/v1/items')
items = response.json()

# Conver the data to df
df_items = pd.DataFrame(items['payload']['items'])

# For loop the rest of the pages

pages = 2
for page in range(0, pages):
    response = requests.get(base_url + items['payload']['next_page'])
    items = response.json()
    df_items = pd.concat([df_items, pd.DataFrame(items['payload']['items'])])

df_items.shape

(50, 6)

In [43]:
# No reset_index()

df_items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [12]:
# Reset_index()

df.head()

,level_0,index,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,1.0,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,2,2.0,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,3,3.0,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,4,4.0,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

2. Do the same thing, but for stores.

In [18]:
# What is the key structure for stores?

response = requests.get('https://python.zach.lol/api/v1/stores')

stores = response.json()
stores.keys()

dict_keys(['payload', 'status'])

In [19]:
# Any nested key in 'payload'?

stores['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'stores'])

In [23]:
# What is the max page in stores/payload/payload?
# max page is 1

stores['payload']['max_page']

1

In [25]:
# Conver the data to df

df_stores = pd.DataFrame(stores['payload']['stores'])
df_stores.shape

(10, 5)

3. Extract the data for sales. There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [29]:
# What is the structure of the keys for sales?

response = requests.get('https://python.zach.lol/api/v1/sales')

sales = response.json()
sales.keys()

dict_keys(['payload', 'status'])

In [30]:
# Any nested key in 'payload'?

sales['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'sales'])

In [31]:
# What is the max page in stores/payload/payload?
# max page is 183

sales['payload']['max_page']

183

In [34]:
# Create a for loop to combine all the pages

# Create a base_url
base_url = 'https://python.zach.lol'

# Load the first page of the data
response = requests.get(base_url + '/api/v1/sales')
sales = response.json()

# Conver the data to df
df_sales = pd.DataFrame(sales['payload']['sales'])

# For loop the rest of the pages

pages = 182
for page in range(0, pages):
    response = requests.get(base_url + sales['payload']['next_page'])
    sales = response.json()
    df_sales = pd.concat([df_sales, pd.DataFrame(sales['payload']['sales'])])

df_sales.shape

(913000, 5)

4. Save the data in your files to local csv files so that it will be faster to access in the future.

In [45]:
# df_items.to_csv('df_items.csv')
# df_stores.to_csv('df_stores.csv')
# df_sales.to_csv('df_sales.csv')

5. Combine the data from your three separate dataframes into one large dataframe.

In [47]:
# Take a look at the df_items
# The PK is item_id

df_items.head(1)

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013

In [48]:
# The PK is store_id

df_stores.head(1)

            store_address   store_city  store_id store_state store_zipcode
0  12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253

In [77]:
# The PK is sale_id

df_sales.head(1)

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1

In [78]:
# Check the shape of df_items, df_stores_, df_sales

df_items.shape, df_stores.shape, df_sales.shape

((50, 6), (10, 5), (913000, 5))

If we want to join using the key columns, we need to set key to be the index in both df and other. The joined DataFrame will have key as its index.
`df.set_index('key').join(other.set_index('key'))`

In [95]:
# df_sales join df_stores on store_id
df = df_sales.set_index('store').join(df_stores.set_index('store_id'))

# then join the df_items on item_id
df = df.set_index('item').join(df_items.set_index('item_id'))

# Randomly check df
df.sample(5)

,sale_amount,sale_date,sale_id,store_address,store_city,store_state,store_zipcode,item_brand,item_name,item_price,item_upc12,item_upc14
33,73.0,"Mon, 25 May 2015 00:00:00 GMT",590673,516 S Flores St,San Antonio,TX,78204,The First Years,Tomy The First Years Gumdrop Orthodontic Pacif...,6.52,71463060078,71463060078
40,27.0,"Mon, 22 May 2017 00:00:00 GMT",713743,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Amys,Amys Light & Lean Spaghetti Italiano,0.60,42272008063,42272008063
4,33.0,"Sun, 17 Sep 2017 00:00:00 GMT",61979,516 S Flores St,San Antonio,TX,78204,Boars Head,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
8,72.0,"Thu, 24 Oct 2013 00:00:00 GMT",144551,8503 NW Military Hwy,San Antonio,TX,78231,Lea & Perrins,Lea & Perrins Marinade In-a-bag Cracked Pepper...,1.68,51600080015,51600080015
44,26.0,"Wed, 26 Oct 2016 00:00:00 GMT",790227,2118 Fredericksburg Rdj,San Antonio,TX,78201,Elmers,Elmers Board Mate Dual Tip Glue Pen,7.06,26000001403,26000001403

In [96]:
# Check the chage of the merged df
df.shape

(913000, 12)

In [97]:
# Set sale_id as the index and check the shape

df.set_index('sale_id', inplace=True)
df.shape

(913000, 11)

In [99]:
# Summarize the df
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913000 entries, 1 to 913000
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   sale_amount    913000 non-null  float64
 1   sale_date      913000 non-null  object
 2   store_address  913000 non-null  object
 3   store_city     913000 non-null  object
 4   store_state    913000 non-null  object
 5   store_zipcode  913000 non-null  object
 6   item_brand     913000 non-null  object
 7   item_name      913000 non-null  object
 8   item_price     913000 non-null  float64
 9   item_upc12     913000 non-null  object
 10  item_upc14     913000 non-null  object
dtypes: float64(2), object(9)
memory usage: 83.6+ MB

In [101]:
# # Save the data as the .csv
# df.to_csv('store_sales.csv')

6. Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [103]:
df_opsd = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')
df.shape

(4383, 5)

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4383 entries, 0 to 4382
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4383 non-null   object
 1   Consumption  4383 non-null   float64
 2   Wind         2920 non-null   float64
 3   Solar        2188 non-null   float64
 4   Wind+Solar   2187 non-null   float64
dtypes: float64(4), object(1)
memory usage: 171.3+ KB